CMakeCache.txt
CMakeFiles
CMakeSettings.json
Makefile
*.cmake
install_manifest.txt
*.cbp
*.a
*.so
*.lnk
.sw
doc/
Thumbs.db
.idea/
docs/
cmake-build-*

# Visual Studio
.vs/
.vscode/
build/
debug/
out/

# MacOS dependecies
.DS_Store

#secrets
bot_token1
bot_token2

#storages
messages.txt
reminder.txt

main.log

include/temp.txt

TODO




